header h1 {
    text-align: center;
    font-size: 40px;
}

.logo{
    width:100px;
    margin-top:2px;
}

#div_verifiedAnswer {
    font-weight: 800;
    font-size: 25px;
    color: #ffffff;
}

#input_answer {
    background-color: #16082f;
    color: #ffffff;
    font-size: 20px;
    width: 120px;
    margin: auto;
}


table {
    border: 10px #16082f solid;
    font-size: 25px;
    margin: auto;
}

tr {
    border: 1px #16082f solid;
}

td {
    border: 1px #16082f solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}

button {
    border: 0px;
    background-color: #1049a6;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.fundo {
    display: flex;
    width: 100%;
    background-image: url(imagens/gif\ estrela.gif);
}

.caixa_container1 {
    width: 60%;
}

.caixa_container2 {
    width: 38%;
    margin-top: 10%;
}

.container {
    width: auto;
    margin-left: 120px;
}

#span_questionText {
    Color: #ffffff;
}

.container h2 {
    Color: #1049a6;
    font-size: 50px;
}

#gridGame {
    border-radius: 3%;
}

#div_questions {
    background-color: #16082f;
    width: auto;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
}

#div_canvasCruzada {
    padding: 2px;
}

.button {
    margin: auto;
    display: inline-block;
}

#button_verify {
    width: 100px;
    margin: auto;
}

#div_information {
    background-color: #ffffff;
    border-radius: 10px;
}

#div_verifiedAnswer {
    margin: 50px;
}

.deadCell {
    background-color: #16082f;
}

.availableCell {
    background-color: #ffffff;
}