/* ESTILIZAÇÃO  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #16082f;
  overflow-x: hidden;
}

/* BARRA DE NAVEGAÇÃO */
.container-nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100vw;
}

/* .logo {
    display: flex;
    align-items: center;
    width: auto;
  }
  
  .logo img {
    display: flex;
    width: 100%;
  } */

.logo h1 {
  color: #ffffff;
}

.org-nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  color: #393D46;
  font-weight: 600;
  padding: 0%;
}

li {
  margin: 20px;
}

.header a {
  text-decoration: none;
  color: #5d5f63;
}

.paginas :hover {
  border-bottom: 1px solid #5d5f63;

}

.agora a {
  font-weight: 800;
  color: #ffffff;
}

/* BANNER INICIAL */
.banner-inicial {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./imagens/gif\ estrela.gif);
  background-size: cover;
}

.container-banner {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frase-efeito {
  width: 30%;
  color: #c7c7c7;
  font-size: 30px;
  text-align: end;
}

.frase-efeito h1 {
  margin: 0%;
}

.frase-efeito span {
  color: #1049a6;
  text-shadow: rgb(0, 0, 0) 0.0em 0.0em 0.4em;
}
.button-iniciar{
  background-color: #16082f;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  margin-top: 5%;
  font-weight: 700;
}
.button-iniciar:hover{
  background-color: #ffffff;
  color: #16082f;
}
.container-dev{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-dev{
  width: 25%;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 25px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 